<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH32wMG5uYlEOE-eGZUPeY724Rt6fNjY8</string>
	<key>GCM_SENDER_ID</key>
	<string>273559061003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csu.clientmanager</string>
	<key>PROJECT_ID</key>
	<string>clients-7be32</string>
	<key>STORAGE_BUCKET</key>
	<string>clients-7be32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273559061003:ios:5d59b6863e1bd43378bd0e</string>
	<key>DATABASE_URL</key>
	<string>https://clients-7be32-default-rtdb.firebaseio.com</string>
</dict>
</plist>